
  <div class="card" style="width: 18rem;">
    <div class="inner">
      <img src="/assets/images/{{hotel.id}}.jpg" class="card-img-top" alt="" height="300px">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{hotel.nom}}</h5>
      <p class="card-text">Ville : {{hotel.ville}}</p>
      <p class="card-text">Etoiles : {{hotel.nbreEtoiles}}</p>
      <p class="card-text">Prix par nuit : {{hotel.prixParNuit}}</p>
      <a class="btn btn-primary" (click)="reservationEvent(hotel)">Reserver</a>
    </div>
  </div>
